{
  'extends': 'airbnb',
  'env': {
    'jasmine': true,
    'protractor': true
  },
  'rules': {
    'import/no-extraneous-dependencies': 0
  },
  'globals': {
    'window': false,
    'document': false,
    'FileReader': false,
    'fetch': false
  }
}
